---
title: <%= page.index.title %>
devmsg: <%= page.dev.sitemsg %>
authormail: <%=page.author.mail%>
authorgithub: <%=page.author.github%>
---
<%
	window.alert("Hello world");
%>
<!DOCTYPE html>
<html>
	<head>
		<title>{{page.index.title}}</title>
	</head>
	<body>
		<h1>{{page.dev.sitemsg}}</h1>
		<p>This site is going to show more about my repos in <a href="{{page.author.github}}">Github</a></p>
		<p>You can contact me via mailing <a href="mail:{{page.author.mail}}">{{authormail}}</a></p>
	</body>
</html>
