i{
	display: inline-block;
	font-style: normal;
	font-family: Consolas;
	font-size: small;
	padding: 2px 4px;
	background-color: #F8F8F8;
}
code {
	box-shadow: 5px 5px 10px grey;
	text-align: left;
	padding: 10px;
	max-width: 600px;
	overflow-x: scroll;
	font-family: Consolas;
	display: block;
}
