b{
	display: inline-block;
	font-style: normal;
	font-family: Consolas;
	font-size: small;
	padding: 4px 8px;
	border-radius: 5px;
	font-weight: normal;
	background-color: #F0F0F0;
}
code {
	box-shadow: 5px 5px 10px grey;
	text-align: left;
	padding: 10px;
	max-width: 600px;
	overflow-x: scroll;
	font-family: Consolas;
	display: block;
}
