body{
	font-family: Arial;
}
h3 a{
	text-decoration: none;
	color: black;
}
.stay{
	position: fixed;
	width: 100%;
}
.header h1{
	text-align: center;
}
.header {
	margin-top: 0px;
	top: 0px;
	padding: 1px;
	text-shadow: 1px 1px 2px grey;
	text-align: center;
	background-color: #F3F3F3;
	height: 120px;
}
.footer {
	font-size: 12px;
	width: 100%;
	text-align: center;
}
.t-body{
	width: 100%;
/*	margin-top: 170px;*/
}
.content{
	text-align: justify;
	margin: 20px;
	padding-top: 1px;
}
