/* Styles for both devices */
.hidden{
	display: none;
}
/* Styles on desktop devices */
@media only screen and (min-width: 420px) {
	.hide-on-large{
		display: none;
	}
}
/* Styles on mobile devices */
@media only screen and (max-width: 420px) {
	.hide-on-small{
		display: none;
	}
	.sticky-on-small{
		position: fixed;
	}
	.navbar{
		padding: 0;
	}
	.content{
		margin-top: 50px;
	}
	.nav-btn{
		border-radius: 0;
		margin-left: 0;
	}
}
