.project{
	width: 100%;
	display: flex;
	padding: 20px 30px;
	position: relative;
}
.project #more{
	color: inherit;
	float: right;
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 20px;
}
.project #more::before{
	content: "View more >";
}
.project h1{
	margin: 0;
}
.project-txt{
	display: inline-block;
	float: left;
	width: 50%;
	margin-right: 10px;
}
.project-img{
	width: 50%;
	float: left;
}
.project-travoros{
	color: white;
	background: #0070FF url("/assets/images/travorosbg.png") 0px 0px/30% no-repeat;
	/*height: 600px;*/
}
.project-reimpl-col{
	background-color: #EEEEEE;
}
@media only screen and (max-width: 420px){
	.project{
		display: inline-block;
		background-position: 0px 100px;
		background-size: 100%;
	}
	.project-txt{
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.project-img{
		width: 100%;
		float: none;
	}
	.project #more{
		margin-top: 10px;
		position: static;
	}
}
@media only screen and (min-width: 420px){
	.p-reverse{
		direction: rtl;
	}
	.p-reverse h1{
		text-align: left;
	}
	.p-reverse .project-txt{
		direction: ltr;
		margin-left: 10px;
		margin-right: 0px;
	}
	.p-reverse a{
		right: 20px;
	}
}

