*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
a{
	text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Tahoma;
	font-weight: bold;
	text-align: left;
}
.navbar{
	overflow: hidden;
	margin: 0;
	width: 100%;
	padding: 0;
	background-color: #434647;
}
#active{
	background-color: green;
	color: white;
}
.navbar a{
	float: left;
	display: block;
	font-size: 18px;
	text-decoration: none;
	height: 50px;
	color: white;
	padding: 14px 16px;
	background-color: #434647;
}
.navbar a:hover:not(#active){
	background-color: black;
	color: white;
}