h1,h2,h3,h4,h5,h6 {
	font-family: Tahoma;
	font-weight: bold;
}
.header {
	text-align: center;
}
.footer {
	font-size: 12px;
	text-align: center;
}
.navbar{
	overflow: hidden;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #434647;
}
.navbar a{
	float: left;
	display: block;
	font-size: 18px;
	text-decoration: none;
	color: white;
	padding: 14px 16px;
	background-color: #434647;
}
.navbar a[pos='right']{
	float: right;
}
.navbar a[active='true']{
	background-color: #7c7c7c;
	color: white;
}
.navbar a:hover:not([active='true']){
	background-color: black;
	color: white;
}
