*{
	box-sizing: border-box;
}
body{
	margin: 0;
}
a{
	color: blue;
	text-decoration: none;
}
a:active{
	color: red;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Tahoma;
	font-weight: bold;
	text-align: left;
}
.navbar{
	z-index: 1;
	overflow: hidden;
	margin: 0;
	padding: 10px 0px;
	width: 100%;
	box-shadow: 5px 0px 5px gray;
	background-color: #434647;
}
.nav-btn{
	float: left;
	border-radius: 10px;
	display: block;
	font-size: 18px;
	text-decoration: none;
	height: 50px;
	margin-left: 10px;
	color: white;
	padding: 14px 16px;
	background-color: #434647;
	transition: all 0.5s;
}
.nav-title{
	display: inline-block;
	margin: 0;
	margin-top: 5px;
	color: white;
	margin-left: 20px;
}
.nav-title h1{
	margin: 0;
	display: inline-block;
}
.nav-menu{
	font-size: 150%;
	padding: 8px 12px;
}
.nav-btn:hover:not(#active){
	color: white;
	box-shadow: inset 0px 0px 20px black;
	transition: all 0.5s;
}
.navbar #active{
	color: black;
	background-color: white;
	box-shadow: inset 0px 0px 20px black;
	transition: all 0.5s;
}
.nav-btn:active{
	background-color: black;
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;
}
.sticky + #main{
	/* padding-top: 50px; */
}
#sidemenu{
	display: block;
/*	padding-top: 62px;
	opacity: 0.9;*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	color: white;
	transition: 0.5s;
	float: left;
	width: 0px;
	overflow-x: hidden;
	height: 100%;
	background-color: black;
}
#sidemenu .closebtn{
	position: absolute;
	top: 0;
	width: 41px;
	height: 41px;
	text-align: center;
	right: 0;
	color: black;
	background-color: #E0E0E0;
	font-size: 36px;
	margin-left: 50px;
}
#sidenav a{
	overflow-x: hidden;
	font-size: larger;
	display: block;
	color: white;
	background-color: black;
	padding: 10px 15px;
}
#sidenav #m-active{
	color: white;
	background-color: green;
}
#sidenav a:active{
	color: black;
	background-color: white;
}
#user-profile{
	background-color: #E0E0E0;
	color: black;
	padding: 10px 1px 1px;
	width: 100%;
	text-align: center;
}
#user-profile .tit{
	white-space: pre;
	display: block;
	text-align: center;
}
.circle{
	border-radius: 50%;
}
.center{
	position: absolute;
	left: 50%;
}
h2 a{
	color: black;
}
.sticky-top{
	position: fixed;
	top: 0;
}
