<!DOCTYPE html>
<html>
	<head>
		<title>Travor Liu - {{page.title}}</title>
		<link rel="icon" href="../assets/icons/favicon.ico"/>
		<link rel="shortcut icon" href="/assets/icons/favicon.ico"/>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<link rel="stylesheet" href="/assets/css/custom.css"/>
		<link rel="stylesheet" href="/assets/highlight/github.css"/>
		<script type="text/javascript">
			function drop(){
				var dropdown=document.getElementsByClassName("dropdown-content")[0];
				if(dropdown.getAttribute("show")=="false"){
					dropdown.setAttribute("show","true");
				}else if(dropdown.getAttribute("show")=="true"){
					dropdown.setAttribute("show","false");
				}
			}
		</script>
	</head>
	<body>
		<div class="header">
			<h1>Travor Liu's Pages</h1>
			<p>Less CSS More HTML</p>
		</div>
		<div id="nav" class="navbar">
			<a href="/home.html" id="">HOME</a>
			<a href="/projects.html" id="">PROJECTS</a>
			<a href="/demos.html" id="">DEMOS</a>
			<div class="dropdown">
				<button class="dropbtn" onclick="drop()">ABOUT</button>
				<div class="dropdown-content" show="false">
					<a href="#footer" id="">Contact</a><br/>
					<a href="https://github.com/TravorLZH/travorlzh.github.io" id="">Github Source</a><br/>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var nav=document.getElementsByClassName("navbar");
			nav[0].children[{{page.nav}}].id="active";
		</script>
		<table style="width: 100%;">
			<tr>
				<td class="sidebar">
					<iframe src="/assets/frames/sidebar.html" width="90%" height="500px">
						<p>Your browser doesn't support iframe</p>
					</iframe>
				</td>
				<td class="content">
					<h2>{{page.mtitle}}</h2>
					{{ content }}
				</td>
			<tr>
			<tr>
				<td>
					<hr/>
					<span id="footer">
						<div class="footer">
							<p>Contact Travor &#060;<a href="mailto:travor_lzh@outlook.com">travor_lzh@outlook.com</a>&#062;</p>
							<p><a href="https://github.com/TravorLZH">Github</a></p>
							<p><a href="https://twitter.com/Travor_LZH">Twitter</a></p>
							<p>Acknowledgements<p>
							<a href="http://w3schools.com/">W3Schools</a>
							<a href="http://highlightjs.org">Highlight.js</a>
							</ul>
						</div>
					</span>
				</td>
			</tr>
		</table>
		<script src="/assets/js/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
