<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="/assets/icons/favicon.ico"/>
		<link rel="shortcut icon" href="/assets/icons/favicon.ico"/>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<title></title>
		<script src="/assets/js/utils.js"></script>
	</head>
	{{ content }}
	<hr/>
	<div class="bottom">
		<p>Contact Travor &#060;<a href="mail:travor_lzh@outlook.com">travor_lzh@outlook.com</a>&#062;</p>
		<p><a href="https://github.com/TravorLZH">Github</a></p>
		<p><a href="https://twitter.com/Travor_LZH">Twitter</a></p>
	</div>
</html>
