<!DOCTYPE html>
<html>
	<head>
		<title>TravorLZH - {{page.title}}</title>
		<link rel="icon" href="../assets/icons/favicon.ico"/>
		<link rel="shortcut icon" href="../assets/icons/favicon.ico"/>
		<link rel="stylesheet" href="../assets/css/styles.css"/>
		<script type="text/javascript">
			function drop(){
				console.log("Clicked");
				var dropdown=document.getElementsByClassName("dropdown-content")[0];
				if(dropdown.getAttribute("show")=="false"){
					dropdown.setAttribute("show","true");
				}else if(dropdown.getAttribute("show")=="true"){
					dropdown.setAttribute("show","false");
				}
			}
		</script>
	</head>
	<body>
		<div class="header">
			<h1>Travor Liu</h1>
			<p>One of the new developers</p>
		</div>
		<div id="nav" class="navbar">
			<a href="/home.html" id="">Home</a>
			<a href="/projects.html" id="">Projects</a>
			<a href="#" id="">Documentations</a>
			<div class="dropdown">
				<button class="dropbtn" onclick="drop()">About</button>
				<div class="dropdown-content" show="false">
					<a href="#footer" id="">Contact</a><br/>
					<a href="https://github.com/TravorLZH/travorlzh.github.io" id="">Github Source</a><br/>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var nav=document.getElementsByClassName("navbar");
			nav[0].children[{{page.nav}}].id="active";
		</script>
		<div class="content">
			<h2>{{page.mtitle}}</h2>
			{{ content }}
		</div>
		<hr/>
		<span id="footer">
			<div class="footer">
				<p>Contact Travor &#060;<a href="mailto:travor_lzh@outlook.com">travor_lzh@outlook.com</a>&#062;</p>
				<p><a href="https://github.com/TravorLZH">Github</a></p>
				<p><a href="https://twitter.com/Travor_LZH">Twitter</a></p>
			</div>
		</span>
	</body>
</html>
