<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8"/>
		<title>Travor Liu - {{page.title}}</title>
		<link rel="icon" href="/assets/icons/favicon.ico"/>
		<link rel="shortcut icon" href="/assets/icons/favicon.ico"/>
		<link rel="stylesheet" href="/assets/css/styles.css"/>
		<link rel="stylesheet" href="/assets/css/main.css"/>
		<link rel="stylesheet" href="/assets/css/custom.css"/>
		<link rel="stylesheet" href="/assets/css/mq.css"/>
		<link rel="stylesheet" href="/assets/css/contact.css"/>
		<!-- External Stuff -->
		<link rel="stylesheet" href="/font-awesome/css/font-awesome.css"/>
		<script type="text/javascript">
			function getHeight(elemnt){
				return Math.max(elemnt.offsetHeight,elemnt.scrollHeight,elemnt.clientHeight);
			}
			function menu_close(){
				var menu=document.getElementById("sidemenu");
				menu.style.width="0px";
			}
			function menu_open(){
				var menu=document.getElementById("sidemenu");
				menu.style.width="62%";
				menu.focus();
			}
		</script>
	</head>
	<body>
		<div id="sidemenu" class="hide-on-large">
			<a href="javascript:void(0)" class="closebtn" onclick="menu_close()">&times;</a>
			<div id="user-profile">
				<a href="https://github.com/TravorLZH" id="avatar"><img alt="TravorLZH" class="circle" width="80" height="80" src="https://avatars.githubusercontent.com/TravorLZH"/></a>
				<h1 class="tit">Travor Liu</h1>
			</div>
			<div id="sidenav">
				<a href="/home.html" onclick="menu_close()">POSTS</a>
				<a href="/projects.html" onclick="menu_close()">PROJECTS</a>
				<a href="/labs.html" onclick="menu_close()">LABS</a>
			</div>
		</div>
		<div id="nav" class="navbar sticky-top">
			<div class="nav-title hide-on-small">
				<h1 class="inline-block">Travor Liu</h1>
			</div>
			<a class="nav-btn hide-on-large" href="javascript:void(0)" onclick="menu_open()"><i class="fa fa-bars"></i>&nbsp;Travor Liu</a>
			<a class="nav-btn hide-on-large" style="float: right;" href="https://github.com/TravorLZH/travorlzh.github.io/" title="View Source"><i class="fa fa-github"></i></a>
			<a class="nav-btn hide-on-small" style="float: right;" href="https://github.com/TravorLZH/travorlzh.github.io/" title="View Source">GITHUB</a>
			<a class="nav-btn hide-on-small" style="float: right" href="/labs.html">LABS</a>
			<a class="nav-btn hide-on-small" style="float: right" href="/projects.html">PROJECTS</a>
			<a class="nav-btn hide-on-small" style="float: right" href="/home.html">POSTS</a>
			<a class="nav-btn nav-menu hide-on-large" style="float: right;" href="/home.html"><i class="fa fa-home"></i></a>
		</div>
		<div id="main" class="t-body">
			<div class="content">
				{{ content }}
			</div>
		</div>
		<script>
			var navbar=document.getElementById("nav");
			navbar.children[6-{{page.nav}}].id="active";
			var menu=document.getElementById("sidenav");
			menu.children[{{page.nav}}].id="m-active";
		</script>
	</body>
</html>
